argparse
dill
fire
matplotlib
psutil
requests
scikit-image
scipy
slidingwindow
tqdm
git+https://github.com/ppwwyyxx/tensorpack.git
keras
librosa
ipywidgets
SpeechRecognition
playsound
flask
flask-bootstrap
gunicorn










